 :root {
  --primary: #28a8e1;
  --primary-dark: #1291cc;
  --alternate: #1e4780;
  --gray: #6c6e6f;
  --dark: #303744;
  --body-text-color: #5f6062;
  --body-font: 'Colfax';
}

@font-face {
  font-family: 'Colfax';
  src: url('/colfax/Colfax-Medium.woff2') format('woff2'),
      url('/colfax/Colfax-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Colfax';
  src: url('/colfax/Colfax-Regular.woff2') format('woff2'),
      url('/colfax/Colfax-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html { width: 100%;height: 100%;margin: 0%;padding: 0%;overflow-x: hidden; }
body { font-family: var(--body-font);color: var(--body-text-color); }
b, strong { font-weight: 500; }

.fs-12 { font-size: 12px; }
.lead-sm { font-size: 1.125rem; }
.bg-primary { background-color: var(--primary) !important; }
.text-primary { color: var(--primary) !important}
.text-dark { color: var(--dark) !important}
.text-muted { color: #303744B2 !important; }
.bg-gradient { background-color: #E8EBF699 !important; }


h1,h2,h3,h4,h5,h6 { color: var(--dark); }
img { max-width: 100%;height: auto; }


a { text-decoration: none;color: var(--dark); }
.link {color: var(--primary);font-weight: 500;font-size: 14px;text-decoration: none;transition: all .3s ease-in-out; } 
.link:hover {color: #303744;}

.btn { border-width: 2px;transition: all .3s ease-in-out;font-size: .937rem;font-weight: 500;padding: .75rem 2rem;line-height: 1.3; }
.btn-outline-primary {
  --bs-btn-color: var(--primary);
  --bs-btn-border-color: var(--primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary);
  --bs-btn-hover-border-color: var(--primary);
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary);
  --bs-btn-active-border-color: var(--primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--primary);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--primary);
  --bs-gradient: none;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--primary);
  --bs-btn-border-color: var(--primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary-dark);
  --bs-btn-hover-border-color: var(--primary-dark);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary-dark);
  --bs-btn-active-border-color: var(--primary-dark);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--primary);
  --bs-btn-disabled-border-color: var(--primary);
}

@media (max-width: 1199px) {  
  html { font-size: 93.75%; }
  .btn { padding: .75rem 1.5rem; }
}
@media (max-width: 767px) {  
  html { font-size: 87.5%; }
  .container { max-width: calc(100% - 20px); }
  .btn { padding: .625rem 1rem; }
}