 :root {
  --primary: #28a8e1;
  --primary-dark: #1291cc;
  --alternate: #1e4780;
  --gray: #6c6e6f;
  --dark: #303744;
  --white: #ffffff;
  --body-text-color: #5f6062;
  --radius: 8px;
  --border-color: #e2e2e4;
  --body-font: 'Colfax';
}

@font-face {
  font-family: 'Colfax';
  src: url('/colfax/Colfax-Medium.woff2') format('woff2'),
      url('/colfax/Colfax-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Colfax';
  src: url('/colfax/Colfax-Regular.woff2') format('woff2'),
      url('/colfax/Colfax-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* { margin: 0%;padding: 0%;box-sizing: border-box; }
html { width: 100%;height: 100%;margin: 0%;padding: 0%;overflow-x: hidden; }
body { font-family: var(--body-font);color: var(--body-text-color);background-color: var(--white); }
b, strong { font-weight: 500; }

.fs-12 { font-size: 12px; }
.lead-sm { font-size: 1.125rem; }
.bg-primary { background-color: var(--primary) !important; }
.text-primary { color: var(--primary) !important}
.text-dark { color: var(--dark) !important}
.text-muted { color: #303744B2 !important; }
.bg-gradient { background-color: #E8EBF699 !important; }


h1,h2,h3,h4,h5,h6 { color: var(--dark); }
img { max-width: 100%;height: auto; }


a { text-decoration: none;color: var(--dark); }
.link {color: var(--primary);font-weight: 500;font-size: 14px;text-decoration: none;transition: all .3s ease-in-out; } 
.link:hover {color: #303744;}

.btn { border-width: 2px;transition: all .3s ease-in-out;font-size: .937rem;font-weight: 500;padding: .75rem 2rem;line-height: 1.3; }
.btn-outline-primary {
  --bs-btn-color: var(--primary);
  --bs-btn-border-color: var(--primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary);
  --bs-btn-hover-border-color: var(--primary);
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary);
  --bs-btn-active-border-color: var(--primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--primary);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--primary);
  --bs-gradient: none;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--primary);
  --bs-btn-border-color: var(--primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary-dark);
  --bs-btn-hover-border-color: var(--primary-dark);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary-dark);
  --bs-btn-active-border-color: var(--primary-dark);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--primary);
  --bs-btn-disabled-border-color: var(--primary);
}

.btn-outline-light {
  --bs-btn-color: var(--border-color);
  --bs-btn-border-color: var(--border-color);
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: var(--border-color);
  --bs-btn-hover-border-color: var(--border-color);
  --bs-btn-focus-shadow-rgb: 248,249,250;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: var(--border-color);
  --bs-btn-active-border-color: var(--border-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--border-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--border-color);
  --bs-gradient: none;
}

.btn-link {
  --bs-btn-color: var(--primary);
  --bs-btn-hover-color: var(--primary-dark);
}

@media (max-width: 1199px) {  
  html { font-size: 93.75%; }
  .btn { padding: .75rem 1.5rem; }
}
@media (max-width: 767px) {  
  html { font-size: 87.5%; }
  .container { max-width: calc(100% - 20px); }
  .btn { padding: .625rem 1rem; }
}

.card {
  box-shadow: 12px 17px 48px 0px #0e00621a;
  border: solid 1px #0E00621A;
  border-radius: var(--radius);
}

.form-check-input { width: 1.25rem;height: 1.25rem;border: 2px solid var(--border-color);margin-top: 0; }
.form-check-input:checked { background-color: var(--primary);border-color: var(--primary); }

.form-control { border: 2px solid var(--border-color);height: 55px;padding: .5rem 1rem; }
.form-select {
  border: solid 2px #0000001A;cursor: pointer;
  height: 40px;
  padding: 0 12px;
  outline: none;
  border-radius: 4px;
  appearance: none;
  background: url('/images/icons/select-arrow-icon.png') no-repeat; 
  background-position: right 20px center;
}
.form-select:hover, .form-control:hover { border-color: var(--primary); }
.form-select:focus, .form-control:focus { border-color: var(--primary);box-shadow: none; }


.filter__col { width: 100%; }
@media (min-width: 992px) {
  .filter__col { width: 25%; }
  .list__left__border { border-left: 1px solid var(--border-color); }
}


.input__box {position: relative; }
.input__box label {z-index: 1;font-size: .937rem;font-weight: 500;color: #303744;position: absolute;top: -9px;background: #fff;padding: 0 10px;left: 15px;}
.input__box .input {border: solid 2px #0000001A;height: 55px;width: 100%;border-radius: 4px;padding: 6px 1rem 0 1rem;outline: none;font-size: 1rem;color: var(--dark);font-weight: 400; }
.input__box .input.textarea { height: auto;padding: 12px 1rem 0 1rem; }
.input__box .input::placeholder {color: #303744B2;font-weight: 400;}

.title { font-size: 1.35rem;color:var(--dark); }