.thumbnail { width: 4rem; }

.skils {
    color: #30374499;
    font-size: .812rem;
}
.skils span:not(:last-child)::after {
    content: "|";
    font-size: 1rem;
    line-height: 1;
    margin-left: .5rem;
    font-weight: 400;
}