
.header { box-shadow: 8px 8px 32px 0px #0202020d;padding-top: .75rem; }   
.logo { height: 1.625rem;width: auto; }
.header .search__block form input[type=text] {outline:none;padding: 0 15px;font-size: 16px;border: 2px solid #e2e2e4;float: left;width: 100%;background: #fff;height: 56px;color: #303744B2;border-radius: 4px 0 0 4px;border-right: 0;}
.header .search__block form button {float: left;width: 52px;background: var(--primary);color: white;font-size: 18px;border-left: none;cursor: pointer;height: 56px;border: none;border-radius: 0 4px 4px 0;}
.header .search__block form button:hover {background: #303744;} 
.action__link { text-decoration: underline; }
.action__link:hover,.action__link:focus,.action__link:active { text-decoration: none; }

.header__menu {border-top: solid 1px #e3e1ec;margin-top: .75rem; }  
.header__menu .navbar {background: none !important;padding: 0;}
.header__menu ul li a {transition: all 500ms;text-transform: capitalize;font-size: 1rem;font-weight: 400;color: #303744;padding: 0 !important;}
.header__menu ul li a:hover {color: var(--primary) !important;}
.header__menu .navbar-brand {padding: 0;margin-left: 0 !important;height: auto;}
.header__menu .navbar-header {flex-grow: 1;}
.header__menu .collapse {padding: 0;}
.header__menu .container-fluid {padding: 0;}
.header__menu .login-block {text-align: right;} 
.header__menu .login-block a {transition: all 500ms;font-size: 15px;font-weight: 500;color: var(--primary);border: solid 2px var(--primary);border-radius: 4px;display: inline-table;width: 118px;height: 35px;line-height: 35px;text-align: center;text-decoration: none;margin-left: 4px;}
.header__menu .login-block a:hover {background: var(--primary);color: #fff;}
.header__menu .login-block i {margin-right: 10px;} 

.auth__btns a { padding: .45rem 1.5rem; }


@media (max-width: 1199px) {
    .header__menu ul li a { font-size: .875rem; }
    .auth__btns a { padding: .45rem 1rem; }
}
@media (max-width: 991px) {
    .header { padding: 1rem 0; }
    .res__login__btn { padding: .5rem 1rem;line-height: 1.3; }
}
@media (max-width: 575px) {
    .header { padding: .75rem 0; }
    .logo { height: 1.25rem;width: auto; }
    .res__login__btn { padding: .5rem 1rem;line-height: 1.3; }
}


.side__menu { background-color: #000000a0;min-height: 100vh;z-index: 999;transition:all .3s ease-in-out;transform: translateX(100%);opacity: 0;visibility: hidden; }
.side__menu.open__menu { transform: translateX(0%);opacity: 1;visibility: visible; }
.side__menu .content__box { max-width: 300px;margin-left: auto;min-height: 100vh; }
.side__menu .nav__link { font-size: 1.125rem; }

@media (max-width: 575px) {
    .side__menu .content__box { max-width: 80%; }
}